<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/locate.css">
</head>


<body>
    <div class="container">
        <div class="sidebar">
            <h2>username</h2>
            <div class="menubar">
                <ul>

                    <li>Home</li>
                    <li>Events</li>
                    <li>Updates</li>
                    <li>Chat</li>
                    <li>logout</li>

                </ul>
            </div>
            <div class="linklogo">
                <ul>
                    <li><img src="https://uploads-ssl.webflow.com/640b595b6bc2115a9464e022/640b595c6bc21117ec64e050_social-03-white.svg" alt=""></li>
                    <li><img src="https://uploads-ssl.webflow.com/640b595b6bc2115a9464e022/640b595c6bc2112ecf64e0d0_social-18-white.svg" alt=""></li>
                    <li><img src="https://uploads-ssl.webflow.com/640b595b6bc2115a9464e022/640b595c6bc211476c64e0a8_social-33-white.svg" alt=""></li>
                </ul>
            </div>
        </div>
        <div class="contentpage">
            <div class="headbar">
                <h3>locate issue</h3>
            </div>
            <div class="contentform">
                <form action="submit">
                    <textarea name="title" id="title" cols="20" rows="1" placeholder="title"></textarea>
                    <textarea name="title" id="title" cols="20" rows="1" placeholder="location"></textarea>
                    <textarea name="title" id="title" cols="20" rows="5" placeholder="description"></textarea>
                    <input type="file" name="upload image" id="img-upload">
                    <button>submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>